.van-swipe__indicator {
  width: 16px;
  height: 3px;
  border-radius:0;
  background: #aaa;
}
.img {
  width: 7.6rem;
  height: 204px;
  /* margin-left: 30px; */
  border-radius: 10px;
}
.img1 {
  width: 166px;
  height: 215px;
}
.img2 {
  width: 166px;
  height: 166px;
}
.img3 {
  width: 166px;
  height: 166px;
}
.img4 {
  width: 166px;
  height: 215px;
}
.good {
  img {
    margin-bottom: 10px;
  }
  padding: 18px;
  display: flex;
  justify-content: space-between;
  .left {
    display: flex;
    flex-direction: column;
  }
  .right {
    display: flex;
    flex-direction: column;
  }
}